* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.home {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "books members" "info1 info2";
}

.info1 {
  grid-area: info1;
  background-color: white;
  margin: 10px;
  border-radius: 20px 20px 0 0;
}

.info2 {
  grid-area: info2;
  background-color: white;
  margin: 10px;
  border-radius: 20px 20px 0 0;
}

.books {
  grid-area: books;
  background-color: white;
  margin: 10px;
  border-radius: 20px 20px 0 0;
}

.members {
  grid-area: members;
  background-color: white;
  margin: 10px;
  border-radius: 20px 20px 0 0;
}
