.home {
  background-color: rgb(197, 196, 196);
  height: 100vh;
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 50vh 50vh;
  grid-template-areas: "info info" "bookslist memberslist";
}

.members-list {
  grid-area: memberslist;
  height: 90%;
  overflow: hidden;
  margin: 10px;
}

.books-list {
  grid-area: bookslist;
  height: 90%;
  overflow: hidden;
  margin: 10px;
}

.info {
  grid-area: info;
  height: 90%;
  overflow: hidden;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
}
